.mainDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table, td {
  border: 1px solid black;
}




 table > t {
   color: blue;
   border: 1px solid blue;
 }